<div class="bg-primary-light flex p-3 w-full h-fit justify-between fixed">
    <img src="../../assets/gathai-low-resolution-logo-color-on-transparent-background 1.png" alt="Logo">
    <div class="text-white justify-evenly flex gap-4">
        <a routerLink="about">About</a>
        <a routerLink="experience">Work</a>
        <a routerLink="testimonials">Testimonials</a>
        <a routerLink="projects">Projects</a>
        <a routerLink="contact">Contact</a>
        <button>Resume</button>
    </div>
</div>
