<div class="flex">
    <app-socials></app-socials>

    <div class="w-full top-10 bg-primary-light ml-40  text-white">
        <h2 class="text-cyan text-xl font-bold">About Brian</h2>
        <div class="flex">
            <div >
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente at explicabo tenetur distinctio facere iste id veniam ratione, sequi pariatur illum doloribus tempora adipisci ut corporis aut fugit optio placeat non error culpa! Praesentium quae, eos, quia excepturi reiciendis laborum libero molestias hic dolor sequi quis magni aliquid ipsum repellat minima fuga fugit autem aperiam? Alias possimus tenetur porro voluptas, natus vitae adipisci asperiores? Excepturi earum quibusdam 

                    aperiam? Alias possimus tenetur porro voluptas, natus vitae adipisci asperiores? Excepturi earum quibusdam .
                </p>
                <h3 class="text-smokewhite my-2 underline underline-offset-2">My Skills And Technologies</h3>
                <div class="flex justify-between w-1/2">
                    <div class="flex flex-col">
                        <span class="space-x-2">
                            <label for="JavaScript" class="text-cyan font-extrabold">.</label><span>JavaScript</span>
                        </span>
                        <span class="space-x-2">
                            <label for="TypeScript" class="text-cyan font-extrabold">.</label><span>TypeScript</span>
                        </span>
                        <span class="space-x-2">
                            <label for="Angular" class="text-cyan font-extrabold">.</label><span>Angular</span>
                        </span>
                        <span class="space-x-2">
                            <label for="HTML & CSS" class="text-cyan font-extrabold">.</label><span>HTML & CSS</span>
                        </span>
                    </div>
                    <div class="flex flex-col">
                        <span class="space-x-2">
                            <label for="Node" class="text-cyan font-extrabold">.</label><span>Node</span>
                        </span>
                        <span class="space-x-2">
                            <label for="Express" class="text-cyan font-extrabold">.</label><span>Express</span>
                        </span>
                        <span class="space-x-2">
                            <label for="SQL" class="text-cyan font-extrabold">.</label><span>Microsoft SQL Server</span>
                        </span>
                        <span class="space-x-2">
                            <label for="Tailwind" class="text-cyan font-extrabold">.</label><span>Tailwind CSS</span>
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <div class="bg-primary-light border-4 border-cyan w-72 h-72">
                    <div class="bg-cyan w-72 h-72 mx-5 -mt-4 -ml-4"></div>
                </div>
            </div>
        </div>
    </div>

    <app-side-component></app-side-component>
</div>