<app-header></app-header>
<div class="flex">
    <app-socials></app-socials>

    <div class="max-w-full top-10 bg-primary-light lg:ml-40 flex flex-col py-20 gap-10 md:gap-2  text-white">
        <h2 class="text-cyan text-base md:text-xl font-bold">About {{firstName}}</h2>
        <div class="flex flex-col-reverse md:flex-row gap-3">
            <div class="p-3 text-base md:text-lg">
                <p>{{statement}}</p>
                <h3 class="text-smokewhite my-2 underline underline-offset-2">My Skills And Technologies</h3>
                <div class="flex md:justify-between gap-8 mx-auto md:mx-0 md:w-1/2">
                    <div class="flex flex-col">
                        <div *ngFor="let skill of lSkills">
                            <span class="space-x-2">
                            <label for="{{skill}}" class="text-cyan font-extrabold">.</label><span>{{skill}}</span>
                        </span>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div *ngFor="let skill of rSkills">
                            <span class="space-x-2">
                            <label for="{{skill}}" class="text-cyan font-extrabold">.</label><span>{{skill}}</span>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="bg-primary-light border-4 border-cyan mx-10 w-40 h-40 md:w-72 md:h-72">
                    <img src="../../assets/pppIMG-20221220-WA0010.jpg" alt="" class="bg-cyan border-2 border-cyan w-40 h-40 md:w-72 md:h-72 mx-5 -mt-6 -ml-5">
                </div>
            </div>
        </div>
    </div>

    <app-side-component></app-side-component>
</div>

<app-footer></app-footer>