<div class="flex">
    <app-socials></app-socials>

    <div class="w-full top-10 bg-primary-light ml-40  text-white">
        <h2 class="text-cyan text-xl font-bold">About Brian</h2>
        <div class="flex gap-3">
            <div class="p-3">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo nihil saepe corporis perferendis explicabo reiciendis adipisci expedita totam ullam! Nisi, neque esse inventore quas doloribus velit impedit nesciunt quis voluptate alias! Velit voluptate molestiae minus itaque. Ab maiores ducimus fuga molestias sed quia aspernatur nam quaerat inventore amet saepe repudiandae a quisquam architecto recusandae maxime, earum eligendi blanditiis suscipit. Quod optio aliquid inventore accusamus quisquam ipsam rerum aliquam nostrum doloremque natus, maiores tenetur deleniti in maxime voluptate, perferendis quaerat! Facilis assumenda optio blanditiis ex. Perspiciatis aliquam similique iure praesentium officiis illum magnam eos, expedita odit deserunt ducimus, autem nisi reiciendis.
                </p>
                <h3 class="text-smokewhite my-2 underline underline-offset-2">My Skills And Technologies</h3>
                <div class="flex justify-between w-1/2">
                    <div class="flex flex-col">
                        <span class="space-x-2">
                            <label for="JavaScript" class="text-cyan font-extrabold">.</label><span>JavaScript</span>
                        </span>
                        <span class="space-x-2">
                            <label for="TypeScript" class="text-cyan font-extrabold">.</label><span>TypeScript</span>
                        </span>
                        <span class="space-x-2">
                            <label for="Angular" class="text-cyan font-extrabold">.</label><span>Angular</span>
                        </span>
                        <span class="space-x-2">
                            <label for="HTML & CSS" class="text-cyan font-extrabold">.</label><span>HTML & CSS</span>
                        </span>
                    </div>
                    <div class="flex flex-col">
                        <span class="space-x-2">
                            <label for="Node" class="text-cyan font-extrabold">.</label><span>Node</span>
                        </span>
                        <span class="space-x-2">
                            <label for="Express" class="text-cyan font-extrabold">.</label><span>Express</span>
                        </span>
                        <span class="space-x-2">
                            <label for="SQL" class="text-cyan font-extrabold">.</label><span>Microsoft SQL Server</span>
                        </span>
                        <span class="space-x-2">
                            <label for="Tailwind" class="text-cyan font-extrabold">.</label><span>Tailwind CSS</span>
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <div class="bg-primary-light border-4 border-cyan w-72 h-72">
                    <div class="bg-cyan w-72 h-72 mx-5 -mt-4 -ml-4"></div>
                </div>
            </div>
        </div>
    </div>

    <app-side-component></app-side-component>
</div>