<div class="md:ml-40 flex">
    <app-socials></app-socials>

    <div class="w-full bg-primary-light text-white ">
        <h2 class="text-xl text-cyan font-bold">Experience</h2>
        <div class="flex ml-5 gap-3 mt-3">
            <div class="h-fit active:border-l-2 border-cyan active:text-cyan cursor-pointer px-4 w-1/4" >The Jitu</div>
            <div class="flex flex-col gap-3 w-3/4">
                <div class="flex justify-between text-smokewhite ">
                    <p class="text-lg">Software Development Trainee</p>
                    <span>April 2023 - June 2023</span>
                </div>
                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eos aliquid eius asperiores laborum quaerat provident repellendus? Nemo, totam! Dolorem magnam vitae suscipit accusamus, eius eveniet quaerat sint commodi maxime adipisci tempora ad ducimus ex tempore minus voluptates sunt, doloribus explicabo minima ratione quasi! Culpa obcaecati vero officia expedita optio corporis et sint quaerat, quis, soluta cum minus numquam reiciendis itaque molestias laboriosam. Eaque officia quo voluptatem autem quisquam magnam placeat, ex eius, provident ipsam eveniet, molestiae mollitia minus voluptate earum quis magni necessitatibus. Obcaecati, perspiciatis dicta.</p>
            </div>
        </div>
    </div>

    <app-side-component></app-side-component>
</div>
