<app-header></app-header>
<div class="flex">
    <app-socials></app-socials>

    <div class="bg-primary-light text-white w-full lg:ml-40 py-20 flex flex-col gap-7">
        <h2 class="md:text-xl text-cyan font-bold">My Projects</h2>
        <div class="flex flex-col md:flex-row md:gap-8 gap-6 px-4">
            <div>
                <div class="bg-primary-light border-4 border-cyan mx-10 w-40 h-40 md:w-72 md:h-72">
                    <div class="bg-cyan w-40 h-40 md:w-72 md:h-72 mx-5 -mt-4 -ml-4"></div>
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <h3 class="text-cyan text-lg underline underline-offset-2 font-bold">Pro's Overflow</h3>
                <p class="break-words text-base md:text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, impedit, eveniet itaque reiciendis aspernatur accusamus quibusdam officiis laborum at maxime pariatur amet corporis? Consequatur alias pariatur accusamus iste repudiandae et veniam! Provident, suscipit. Consequuntur harum reprehenderit assumenda ducimus saepe facilis, maiores doloremque ratione velit repellendus voluptas illum. Explicabo alias modi quod numquam cupiditate, similique consectetur, nam minus esse at nihil ut vitae reprehenderit voluptatem sunt beatae illum ullam maxime magni! Repudiandae cupiditate at fugit molestias, saepe ipsam! Dicta commodi dolorum accusamus quae iste quo amet, aliquid modi quos hic ducimus laudantium, nemo alias dolores aliquam! Eaque veritatis id vero facere!</p>
                <h3 class="underline text-smokewhite underline-offset-2 font-bold">Technologies Used</h3>
                <div class="flex gap-3 flex-wrap">
                    <span class="flex gap-2">
                        <label for="angular" class="text-cyan font-bold">.</label><span>Angular</span>
                    </span>
                    <span class="flex gap-2">
                        <label for="angular" class="text-cyan font-bold">.</label><span>Node</span>
                    </span>
                    <span class="flex gap-2">
                        <label for="angular" class="text-cyan font-bold">.</label><span>MsSQL Server</span>
                    </span>
                    <span class="flex gap-2">
                        <label for="angular" class="text-cyan font-bold">.</label><span>Tailwind CSS</span>
                    </span>
                    <span class="flex gap-2">
                        <label for="angular" class="text-cyan font-bold">.</label><span>Express</span>
                    </span>
                </div>
                <span class="gap-10 flex">
                    <button>Git Hub</button>
                    <button>Live</button>
                </span>
            </div>
        </div>
    </div>

    <app-side-component></app-side-component>
</div>
<app-footer></app-footer>